<section class="client-details">
    <div class="client-card">
        <div>
            <strong>CLIENT NAME</strong>
            <span id="previewClientName">—</span>
        </div>

        <div>
            <strong>EMAIL</strong>
            <span id="previewClientEmail">—</span>
        </div>

        <div>
            <strong>PHONE</strong>
            <span id="previewClientPhone">—</span>
        </div>

        <div>
            <strong>ADDRESS</strong>
            <span id="previewClientAddress">—</span>
        </div>
    </div>
</section>