<section class="payment-details">
    <div class="payment-box">

        <div class="payment-title">Payment Details</div>

        <div class="payment-grid">
            <div class="payment-item">
                <strong>Account Name</strong>
                <p>BPS Marketing Pty Ltd</p>
            </div>

            <div class="payment-item">
                <strong>Bank</strong>
                <p>First National Bank</p>
            </div>

            <div class="payment-item">
                <strong>Account Number</strong>
                <p>63135630142</p>
            </div>

            <div class="payment-item">
                <strong>Branch Code</strong>
                <p>250655</p>
            </div>
        </div>

    </div>
</section>