<section class="payment-details">
    <div class="payment-box">

        <div class="payment-title">Payment Details</div>

        <div class="payment-grid">
            <div class="payment-item">
                <strong>Account Name</strong>
                <p>Summit Africa Universal Group</p>
            </div>

            <div class="payment-item">
                <strong>Bank</strong>
                <p>Nedbank</p>
            </div>

            <div class="payment-item">
                <strong>Account Number</strong>
                <p>1338438824</p>
            </div>

            <div class="payment-item">
                <strong>Branch Code</strong>
                <p>198765</p>
            </div>
        </div>

    </div>
</section>
