<section class="total-amount">
    <div class="amount-summary">
        <div class="amount-row">
            <span>Subtotal</span>
            <strong id="previewSubtotal">R 0.00</strong>
        </div>

        <div class="amount-row" id="previewDiscountRow">
            <span>Discount</span>
            <strong id="previewDiscount">R 0.00</strong>
        </div>

        <div class="amount-row" id="previewTaxRow">
            <span>VAT / Tax</span>
            <strong id="previewTax">R 0.00</strong>
        </div>

        <div class="amount-row total-row">
            <span>Grand Total</span>
            <strong id="previewGrandTotal">R 0.00</strong>
        </div>
    </div>
</section>